mixin radio(name, value, content)
  +option("radio", name, value, content)
mixin checkbox(name, value, content)
  +option("checkbox", name, value, content)
mixin option(type, name, value, content)
  li
    input(type=type, value=value, name=name, id=name + '-' + value)
    label(for=name + '-' + value)= content

mixin closedq(question, id)
  h3= question
  ul.options
    +radio(id, "Yes", "Yes")
    +radio(id, "No", "No")