mixin radio(name, value, content)
  +option("radio", name, value, content)
mixin checkbox(name, value, content)
  +option("checkbox", name, value, content)
mixin option(type, name, value, content)
  li.option
    input(type=type, value=value, name=name, id=name + '-' + value)
    label(for=name + '-' + value)= content
mixin closedq(question, id)
  +radiogroup(id, question, ["Yes", "No"])

mixin radiogroup(id, question, options)
  h3= question
  ul.options
    for option in options
      +radio(id, option, option)

mixin scale(question, id)
  +radiogroup(id, question, ["Always", "Regularly", "Erratically", "Never", "Arbitrarily"])