mixin station(station)
  a.addresslabel(href='/station/'+station.council_id+'/'+station.station_id)
    +address(station)
    if !station.coords
      emph.right (Not plotted.)

mixin address(place)
  ul.silent
    if place.name
      li.name
        if place.website
          a(href=place.website)= place.name
        else
          span= place.name
    if place.address
      li.address= place.address
    if place.postcode
      li.postcode= place.postcode
    if place.email
      li.email= place.email
    if place.phone
      li.tel: a(href='tel:'+place.phone)= place.phone

mixin council(council)
  .addresslabel
    +address(council)

mixin welsh(english, cymraeg)
  if welsh
    span(lang="cy")= cymraeg
  span(lang="en")= english