extends ../layout
block title
  title= h1 ? h1: "About you"
block content
  - data = data ? data : user
  h1= h1 ? h1 : "Information we hold about you"
  h2 Information you can change
  p We hold the following information about you:
  table
    tr
      th User name
      td= data.username
    tr
      th Password
      td: emph [Not shown]
    tr
        th Email address
        td= data.email

  p If any of this is wrong, you can&nbsp;
    a(href='/amend-details') amend your details
    span .

  if observations && observations.length > 0
    h2 Information you cannot change
    if observations.length > 1
      p We also hold data about #{observations.length} observation forms you submitted.
    else
      p We also hold data about an observation form you submitted.
    p You cannot amend this information.

  a(href='/') Return to home page